<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><folder><%=@title%></title>
    <style type="text/css" media="screen">
      a{
        text-decoration: none
      }
    </style>
  </head>
  <body>
    <form action='/upload' method='post' enctype='multipart/form-data'>
      <label for='file'>Upload file:</label> <input name='file' type='file'/>
      <input type='submit' value='Upload'/>
      <input name='folder' type='hidden' value='<%=h @entry['path']%>'/>
    </form>
    <ul>
        <% @entry['contents'].each do |child|%>
          <li>
            <a href='/?path=<%=h child['path']%>'><%= File.basename(child['path'])%>
            <%if (child['is_dir'])%>
              /
            <%else%>
              <a href='/revisions?path=<%=h child['path']%>'>revisions</a>
            <%end%>
            </a>
          </li>
        <%end%>
    </ul>
  </body>
</html>